<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  <body>
<div class="container">
  <div class="main">
    <div class="title">
      <%= routeName %>
    </div>
    <div class="meta_text">
      <span>更新时间:</span> <span><%= updateAT %></span>
      <span><a>班车助手</a></span>
    </div>
    <div class="image_content">
      <img src="<%= img_url %>" />
      <p >班车在: <%= address %>( <%= poi %> )附近</p>
    </div>
    <div class="line_and_ad">
      <div class="line">
        <ul>
        <% function stationItem(sta) {%>
            <li class="<%= sta.cssClass%>"> <%= sta.name %></li>
        <% } %>
        <% stations.map(stationItem) %>
          </ul>
        </div>
        <div class="ad">
          <div class="image_content" style="float:left;">
            <img src="/images/0.jpg" >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom_bar">
    欢迎使用巴士助手
  </div>
  <% if (!product) { %>
  <script src="http://127.0.0.1:35729/livereload.js"></script>
  <% } %>
  </body>
</html>